{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">

      <!-- Activities Start -->
      <div class="activities">
      </div>
      <!-- Activities End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              {% if request.FILES.profile_image %}
              <img src="{{ request.FILES.profile_image.url }}" />
              {% else %}
              <img src="{{user.avatar.url}}" />
              {% endif %}
            </div>
          </div>
          <div class="profile__info">
            <h3>{{ user.username }}</h3>
            <p>@{{ user.username }}</p>
            {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>about me</h3>
            <p>
              {{ user.bio }}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Rooms hosted by {{ user.username }}</a>
            </h2>
          </div>
        </div>
        {% include 'base/feed_component.html' %}

      </div>
      <!-- Room List End -->

      <!-- Topics Start -->
      {% include 'base/topics_component.html' %}
      <!-- Topics End -->

    </div>
  </main>
{% endblock content %}
