{% extends 'main.HTML' %}

{% block content %}

<style>
    .room-con{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
    <div class="room-con">
        <div>
            <h1> {{room.name}}</h1>

            <p>{{ room.description }}</p>

            <div class="comment-wrapper">
                <h3> Comments</h3>
                <hr>

                {% for mess in room_messages %}
                <div>
                    <a href="{% url 'user-profile' user.id %}">>{{ mess.user}} {{ mess.created }}</a>
                    <p>{{ mess.body }}</p>
                    {% if request.user == mess.user %}
                    <a href="{% url 'delete-message' mess.id %}">Delete</a>
                    {% endif %}
                    {% if request.user == mess.user %}
                    <a href="{% url 'update-message' mess.id %}">Update</a>
                    {% endif %}
                    <hr>
                </div>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form method="POST" action="">
                    {% csrf_token  %}
                    <input type="text" name="body" placeholder="Any thoughts you wanna share" style="width: 200px;">

                </form>
            </div>

    {% endif %}
        </div>

        <div>
            <h3> Users</h3>
            <hr>

            {% for user in Users %}
                <div>
                    <a href="{% url 'user-profile' user.id %}">{{user.username}}</a>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}